server {  
    listen 80;

    access_log /var/log/nginx/lighthouse_access.log;
    error_log  /var/log/nginx/lighthouse_error.log;

    root /usr/share/nginx/lighthouse;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}